.Card{
    border: 3px solid #000;
    border-radius: 10px;
    overflow: hidden;
    
}
.Card .Footer{
    background-color:#000;
    color: white;
}
.Card .Conteudo {
    background-color: white;
    color: black;
}